<div class="container">
  <div class="row">
    <div class="col col-md-3">
      <h1>
        <inline-editor type="text" empty="Add firstName" [(ngModel)]="personData.firstName" (onSave)="saveEditable($event, 'persons', 'firstName')"></inline-editor>
        <inline-editor type="text" empty="Add lastname" [(ngModel)]="personData.lastName" (onSave)="saveEditable($event, 'persons', 'firstName')"></inline-editor>
      </h1>

      <img class="img-fluid img-thumbnail mb-2" src="../../assets/images/persons/{{personData.imagePath}}">
      <app-upload-picture [person]="personData"></app-upload-picture>

      <h6 class="mt-2" >Nationality:
       <inline-editor class="mt-2" empty="{{personData.nationality}}" type="select" [(ngModel)]="editableSelect" (onSave)="saveEditable($event, 'persons', 'nationality')" [options]="countrySelectOptions"
              value="valor"></inline-editor>
      </h6>

      <h6>Born:
       <inline-editor class="mt-2" empty="{{personData.birth}}" type="date" [(ngModel)]="personData.birth" (onSave)="saveEditable($event, 'persons', 'birth')"
              value="valor"></inline-editor>
      </h6>

      <h6 *ngIf="personData.death">Deceased:
       <inline-editor class="mt-2" empty="{{personData.death}}" type="date" [(ngModel)]="personData.death" (onSave)="saveEditable($event, 'persons', 'death')"
              value="valor"></inline-editor>
      </h6>
    </div>

    <div class="col-12 col-md-7">
      <div class="row">
        <div class="col-12 col-md-12 mb-4">
          <h5>MINI BIO</h5>
          <hr>
          <p class="text-left">
            <inline-editor empty="Add a shotrt Bio" type="textarea" [(ngModel)]="personData.miniBio" (onSave)="saveEditable($event, 'persons', 'miniBio')"></inline-editor>
          </p>
        </div>

        <div class="col-md-12 mb-4" *ngIf="directorData.length">
          <h5>HAS DIRECTED</h5>
          <hr>
          <div class="row align-items-center" *ngFor="let director of directorData">
            <div class="col-2">
              <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{director.imagePath}}" routerLink="/film-page/{{director.filmId}}">
            </div>
            <div class="col">
              <p>{{director.title}}</p>
            </div>
            <div class="col">
              <p>{{director.year}}</p>
            </div>
            <div class="col">
              <app-star-rating [id]="director.filmId"></app-star-rating>
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-4" *ngIf="actorData.length">
          <h5>HAS ACTED IN</h5>
          <hr>
          <div class="row align-items-center" *ngFor="let actor of actorData">
            <div class="col-2">
              <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{actor.imagePath}}" routerLink="/film-page/{{actor.filmId}}">
            </div>
            <div class="col-3">
              <p>{{actor.title}}</p>
            </div>
            <div class="col-2">
              <p>{{actor.year}}</p>
            </div>
            <div class="col">
              <p><span>as</span> {{actor.character}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
