<div class="container py-5">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="display-4">Top 10 Highest</h1>
      <hr>
    </div>
  </div>

  <div class="row hidden-sm-down">
    <div class="col-2">
    </div>
    <div class="col-2">
      <p><strong>Rank</strong></p>
    </div>
    <div class="col-3">
      <p><strong>Title</strong></p>
    </div>
    <div class="col-4">
      <p><strong>Rating</strong></p>
    </div>
    <div class="col-1">
      <p><strong>Year</strong></p>
    </div>
  </div>

  <div class="col-12 list-all-actors-container" *ngFor="let item of highestData, let i = index">
    <div class="row hidden-sm-down align-items-center mb-3">
      <div class="col-2">
        <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{item.imagePath}}" onerror="this.src='../../assets/images/films/default.png';"
                routerLink="/film-page/{{item.id}}">
      </div>
      <div class="col-2">
        <p class="align-middle">{{i + 1 }}</p>
      </div>
      <div class="col-3">
        <p>{{item.title}}</p>
      </div>
      <div class="col-4">
        <div>
          <app-star-rating [rating]="item.avgRating"></app-star-rating>
          <p class="rating-text">AVG Rating: {{item.avgRating | number: '1.2-2' || 'not rated'}} / by {{item.counter}}
            <span *ngIf="item.counter != 1">Users</span><span *ngIf="item.counter == 1">User</span>
          </p>

        </div>
      </div>
      <div class="col-1">
        <p class="text-right">{{item.year}}</p>
      </div>
    </div>

    <div class="row hidden-md-up align-items-center">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-6">
        <p>{{item.name}}</p>
        <p>{{item.nationality}}</p>
        <p>Known for roles in: ({{item.films}})</p>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="display-4">Top 10 Lowest</h1>
      <hr>
    </div>
  </div>
  <div class="row hidden-sm-down">
    <div class="col-2">
    </div>
    <div class="col-2">
      <p><strong>Rank</strong></p>
    </div>
    <div class="col-3">
      <p><strong>Title</strong></p>
    </div>
    <div class="col-4">
      <p><strong>Rating</strong></p>
    </div>
    <div class="col-1">
      <p><strong>Year</strong></p>
    </div>
  </div>

  <div class="col-12 list-all-actors-container" *ngFor="let item of lowestData, let i = index">
    <div class="row hidden-sm-down align-items-center mb-3">
      <div class="col-2">
        <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{item.imagePath}}" onerror="this.src='../../assets/images/films/default.png';"
                routerLink="/film-page/{{item.id}}">
      </div>
      <div class="col-2">
        <p class="align-middle">{{i + 1 }}</p>
      </div>
      <div class="col-3">
        <p>{{item.title}}</p>
      </div>
      <div class="col-4">
        <div>
          <app-star-rating [rating]="item.avgRating"></app-star-rating>
          <p class="rating-text">AVG Rating: {{item.avgRating | number: '1.2-2' || 'not rated'}} / by {{item.counter}}
            <span *ngIf="item.counter != 1">Users</span>
            <span *ngIf="item.counter == 1">User</span>
          </p>
        </div>
      </div>
      <div class="col-1">
        <p>{{item.year}}</p>
      </div>
    </div>

    <div class="row hidden-md-up align-items-center">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" src="../../assets/images/films/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-6">
        <p>{{item.name}}</p>
        <p>{{item.nationality}}</p>
        <p>Known for roles in: ({{item.films}})</p>
      </div>
    </div>
  </div>

</div>
