<div class="container mb-3">
  <div class="row d-none d-lg-flex">
    <div class="offset-2 col-4">
      <app-search class="search"></app-search>
    </div>
    <!--<div class="col-4" *ngFor="let item of mySqlData">-->
    <div class="col-5">
      <div class="user-screen">
        <ul>
          <li *ngIf="globalservice.user">
            <a class="nav-link" routerLink="/user-panel" placeholder="USERNAME" >{{globalservice.user.firstName}}</a>
          </li>
          <li *ngIf="!globalservice.user">
            <a class="nav-link" routerLink="login">LOG IN</a>
          </li>
          <li *ngIf="!globalservice.user">
            <a class="nav-link" routerLink="register" >REGISTER</a>
          </li>
          <li *ngIf="globalservice.user && globalservice.user.role === 'admin'">
            <a class="nav-link" routerLink="admin/admin-panel">ADMIN PAGE</a>
          </li>
          <li *ngIf="globalservice.user">
            <a class="nav-link" (click)="header.logout()">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-flex">
    <div class="offset-1 col-9">
      <nav class="navbar navbar-toggleable navbar-light header-styling">
        <a class="navbar-brand" routerLink="/"><img class="main-logo" routerLink="/" src="../../../assets/images/mdb-logo.png"></a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item header-link">
            <button type="button" class="btn btn-primary nav-link" routerLink="lists/list-all-films">All Movies</button>
          </li>
          <li class="nav-item header-link">
            <button type="button" class="btn btn-primary nav-link" routerLink="lists/list-all-actors">All Actors</button>
          </li>
          <li class="nav-item header-link">
            <button type="button" class="btn btn-primary nav-link" routerLink="lists/list-all-directors">All Directors</button>
          </li>
          <li class="nav-item header-link">
            <button type="button" class="btn btn-primary nav-link" routerLink="lists/list-top-10">Top 10</button>
          </li>
          <li class="nav-item header-link">
            <button type="button" class="btn btn-primary nav-link" routerLink="lists/list-latest-reviews">Latest Reviews</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row d-lg-none d-xl-none d-flex">
    <div class="col-2">
      <a class="hamburger">
        <i (click)="toggleMenu()" class="fa fa-bars"></i>
      </a>
    </div>
    <div class="col-5">
      <a class="navbar-brand" routerLink="/"><img class="main-logo" routerLink="/" src="../../../assets/images/mdb-logo.png"></a>
    </div>
    <div class="col-5">
      <app-search class="search"></app-search>
    </div>
  </div>
</div>

<!--<button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button>-->

<app-sidebar [@slideInOut]="menuState" (close)="toggleMenu($event)"></app-sidebar>
