<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="display-4">Latest Reviews</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <div class="row item py-4" *ngFor="let item of mySqlData">
        <div class="col-12 col-md-4">
          <img class="mdb-default-image img-fluid" src="../../assets/images/films/{{item.imagePath}}"
                routerLink="/film-page/{{item.id}}">
        </div>

        <div class="col-12 col-md-8 mt-2">
          <span>Created: {{item.timeCreated | date}}</span>
          <h4 class="mb-2">{{item.title}}</h4>
          <div class="d-inline-block mr-3"><app-star-rating [rating]="item.rating"></app-star-rating></div>
          <p>{{item.textbody}}</p>
          <p>Reviewer: {{item.username}}</p>
        </div>

      </div>
    </div>

  </div>
</div>
