<div class="container text-left">
  <div class="row">

    <div class="col-3">
      <h1>LATEST</h1>
      <h1>REVIEWS</h1>
    </div>

    <div class="col-7 mb-3">
      <div class="row item py-4" *ngFor="let item of mySqlData">
        <div class="col-4">
          <img class="mdb-default-image img-fluid" src="../../assets/images/films/{{item.imagePath}}"
                routerLink="/film-page/{{item.id}}">
        </div>


        <div class="col-8">
          <h5 class="mb-3">{{item.title}}</h5>
          <p>{{item.textbody}}</p>
          <p>– {{item.username}}</p>
          <div class="d-inline-block mr-3"><app-star-rating [rating]="item.rating"></app-star-rating></div>
          <span>Created: {{item.timeCreated | date}}</span>
        </div>

      </div>
    </div>

  </div>
</div>