<div class="container">
  <div class="row">

    <div class="col-2">
      <h3>Picture</h3>
    </div>

    <div class="col-2">
      <h3>Title</h3>
    </div>

    <div class="col-2">
      <h3>Rating</h3>
    </div>

    <div class="col-2">
      <h3>Year</h3>
    </div>

    <div class="col-2">
      <h3>Actors</h3>
    </div>

    <div class="col-2">
      <h3>Director(s)</h3>
    </div>

    <div class="col-12 list-all-films-container" *ngFor="let item of mySqlData">
      <div class="row">
        <div class="col-2">
          <img class="mdb-default-image" src="../../assets/images/films/{{item.imagePath}}"
                routerLink="/film-page/{{item.id}}">
        </div>

        <div class="col-2">
          <h6>{{item.title}}</h6>
        </div>

        <div class="col-2">
          <h6>{{item.avgScore}}</h6>
        </div>

        <div class="col-2">
          <h6>{{item.year}}</h6>
        </div>

        <div class="col-2">
          <h6>{{item.starring}}</h6>
        </div>

        <div class="col-2">
          <h6>{{item.director}}</h6>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- <li>
  <img class="mdb-default-image" src="../../assets/images/persons/{{item.imagePath}}" routerLink="/person/{{item.id}}">
</li> -->