.searchArea{
  position: relative;

  .searchDropdown{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    border: 1px solid gray;
    border-radius: 0 0 6px 6px; // rounded bottom corners
    border-top: 0;

    background-color: white;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}