<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="display-4">All Actors</h1>
      <hr>
    </div>
  </div>
  <div class="row hidden-sm-down">
    <div class="col-2">
    </div>
    <div class="col-3">
      <a (click)="setOrder('name')"> <strong>Name</strong></a>
    </div>
    <div class="col-2">
      <a (click)="setOrder('nationality')"> <strong>Nationality</strong></a>
    </div>
    <div class="col-2">
      <a (click)="setOrder('gender')"> <strong>Gender</strong></a>
    </div>
    <div class="col-3">
      <a (click)="setOrder('films')"> <strong>Known for roles in</strong></a>
    </div>
  </div>
  <div class="col-12 list-all-actors-container" *ngFor="let item of mySqlData">
    <div class="row hidden-sm-down align-items-center mb-3">
      <div class="col-2">
        <img class="img-fluid img-thumbnail clickable" src="../../assets/images/persons/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-3">
        <p class="align-middle">{{item.name}}</p>
      </div>
      <div class="col-2">
        <p> {{item.nationality}}</p>
      </div>
      <div class="col-2">
        <p> {{item.gender}}</p>
      </div>
      <div class="col-3">
        <p> {{item.films | truncate: 3}}</p>
      </div>
    </div>

    <div class="row hidden-md-up align-items-center">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" src="../../assets/images/persons/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-6">
        <p> {{item.name}}</p>
        <p> {{item.nationality}}</p>
        <p> Known for roles in: ({{item.films}})</p>
      </div>
    </div>
  </div>
</div>
