@import '../../../styles.scss';

.social {
  background: $black;

  p {
    font-weight: 600;
    font-size: 18px;
  }

  fa {
    font-size: 16px;
    color: $white;
    padding-left: 1em;
    // border: 10px solid $white;
    // max-height: 270px;
  }
}

.main-footer {
  background: $blue;

  p {
    color: $white;
    font-weight: 600;
    font-size: 16px;
  }

  .logo {
    width: 200px;
    margin: 0;
    margin-bottom: 1em;
  }

  span {
    display: block;
    color: $black;
    font-weight: 600;
    font-size: 14px;
  }

}
