<div class="container text-left">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="display-4">All Directors</h1>
      <hr>
    </div>
  </div>
  <div class="row hidden-sm-down">
    <div class="col-2">
    </div>
    <div class="col-3">
      <p><strong>Name</strong></p>
    </div>
    <div class="col-2">
      <p><strong>Nationality</strong></p>
    </div>
    <div class="col-2">
      <p><strong>Gender</strong></p>
    </div>
    <div class="col-3">
      <p><strong>Director of</strong></p>
    </div>
  </div>
  <div class="col-12 list-all-actors-container" *ngFor="let item of mySqlData">
    <div class="row hidden-sm-down align-items-center">
      <div class="col-2">
        <img class="img-fluid img-thumbnail" src="../../assets/images/persons/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-3">
        <p>{{item.name}}</p>
      </div>
      <div class="col-2">
        <p>{{item.nationality}}</p>
      </div>
      <div class="col-2">
        <p>{{item.gender}}</p>
      </div>
      <div class="col-3">
        <p>{{item.films}}</p>
      </div>
    </div>

    <div class="row hidden-md-up align-items-center">
      <div class="col-6">
        <img class="img-fluid img-thumbnail" src="../../assets/images/persons/{{item.imagePath}}" routerLink="/person-page/{{item.id}}">
      </div>
      <div class="col-6">
        <p>{{item.name}}</p>
        <p>{{item.nationality}}</p>
        <p>Director of: ({{item.films}})</p>
      </div>
    </div>
  </div>
</div>
