<div class="container text-left">
  <div class="row">
    <div class="col-12 col-md-6 big-logo-content hidden-xs-down">
      <img class="img-fluid" src="/assets/images/mdb-big-logo.png">
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row">
        <div class="col">
          <h5>LATEST ADDITIONS</h5>
          <hr>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of latestfilms" class="col-12 col-md">
          <figure class="figure">
            <img class="img-fluid mdb-image" src="/assets/images/films/{{item.imagePath}}" routerLink="/film-page/{{item.id}}">
            <figcaption class="figure-caption">{{item.title}} ({{item.year}})</figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="h5 text-left">TOP 5 RATED FILMS</p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of topfilms" class="col-12 col-md">
          <figure class="figure">
            <img class="img-fluid mdb-image" src="/assets/images/films/{{item.imagePath}}" routerLink="/film-page/{{item.id}}">
            <figcaption class="figure-caption">{{item.title}} ({{item.year}})</figcaption>
            <app-star-rating [rating]="item.avgRating"></app-star-rating>
            <figcaption class="figure-caption">Rating: {{item.avgRating}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
