<div class="container">
  <div class="row">

    <div class="col-12 col-md-3">
      <h1>
       <inline-editor type="text" [(ngModel)]="film.title" (onSave)="saveEditable($event, 'films', 'title')"></inline-editor>
      </h1>
      <div class="mb-2">
        <div class="d-inline-block mr-2">
          <span>AVG Rating:</span>
        </div>
        <div class="d-inline-block mr-2">
          <app-star-rating [rating]="film.avgRating"></app-star-rating>
        </div>
        <span>({{film.avgRating}})</span>
      </div>

      <img class="img-fluid img-thumbnail mb-2" src="/assets/images/films/{{film.imagePath}}">

      <h6>Relase Year:
       <inline-editor type="text" [(ngModel)]="film.year" (onSave)="saveEditable($event, 'films', 'year')"></inline-editor>
      </h6>
      <h6>Genre:
        <inline-editor type="text" [(ngModel)]="film.genre" (onSave)="saveEditable($event, 'films', 'genre')"></inline-editor>
      </h6>

    </div>

    <div class="col-12 col-md-5">

      <h6>PLOT SUMMERY:</h6>
      <hr>
      <p>
        <inline-editor type="textarea" [(ngModel)]="film.plot" (onSave)="saveEditable($event, 'films', 'plot')"></inline-editor>
      </p>

      <h6>OFFICIAL TRAILER:</h6>
      <hr>
      <div *ngIf="film.youtubeUrl" class="embed-responsive embed-responsive-4by3 mb-2">
        <iframe width="560" height="315" [src]="film.youtubeUrl | safeurl" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>
        <inline-editor type="text" [(ngModel)]="film.youtubeUrl" (onSave)="saveEditable($event, 'films', 'youtubeUrl')"></inline-editor>
      </p>

      <div *ngIf="directorData">
        <h6>DIRECTED BY</h6>
        <hr>
        <div class="row align-items-center">
          <div class="col-3">
            <img class="img-fluid img-thumbnail" src="../../assets/images/persons/{{directorData.imagePath}}" routerLink="/person-page/{{directorData.directorId}}">
          </div>
          <div class="col">
            <inline-editor type="text" [(ngModel)]="directorData.director" (onSave)="saveEditable($event)"></inline-editor>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="actorData">
        <h6>STARRING</h6>
        <hr>
        <div *ngFor="let actor of actorData">
          <div [ngClass]="actor.isMainCharacter ? highlight : 'row align-items-center mb-3'">
            <div class="col-3">
              <img class="img-fluid img-thumbnail" src="../../assets/images/persons/{{actor.imagePath}}" routerLink="/person-page/{{actor.actorId}}">
            </div>
            <div class="col">
              <inline-editor type="text" [ngClass]="actor.isMainCharacter ? 'font-weight-bold' : ''" [(ngModel)]="actor.name" (onSave)="saveEditable($event)"></inline-editor>
            </div>
            <div class="col">
              as
              <inline-editor type="text" [(ngModel)]="actor.character" (onSave)="saveEditable($event)"></inline-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h6>REVIEWS:</h6>
      <hr>
      <p>{{reviewstatus}}</p>
      <div *ngFor="let review of reviews">
        <p *ngIf="review.textbody">
          <em>"{{review.textbody}}"</em>
        </p>
        <p *ngIf="review.textbody" class="mb-2" title="Source Title">Posted by - <span class="font-weight-bold">{{review.username}}
          </span></p>
        <div class="d-inline-block mr-2">
          <app-star-rating [rating]="review.rating"></app-star-rating>
        </div>
        <span>{{review.timeCreated | date}}</span>
        <p *ngIf="!review.textbody">Rating Only by -
          <span class="font-weight-bold">{{review.username}}
          </span>
        </p>
        <hr />
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="add-review btn btn-secondary btn" (click)="reviewForm = !reviewForm">Add your review</button>
          <form *ngIf="reviewForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="form-group">
              <br>
              <label for="textbody">Review of '{{film.title}}'</label>
              <textarea class="form-control" id="textbody" name="textbody" rows="3" ngModel></textarea>
            </div>
            <div class="form-group">
              <label for="rating">Rating</label>
              <select type="select" class="form-control" name="rating" id="rating" ngModel>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button type="submit" class="submit-review btn btn-secondary btn-sm">Submit</button>
            <button type="button" class="cancel-review btn btn-danger btn-sm" (click)="reviewForm = !reviewForm">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
