//==  Colors

$color-black: #242323;
$color-grey: #e6e4e4;
$color-white: #FAFAFA;

//==  Fonts

// $default-font: 'Roboto', sans-serif;
// $fancy-font: 'Raleway', sans-serif;

$headline-font: 'Cabin', sans-serif;
$default-font: 'Source Sans Pro', sans-serif;

//== Mixins

@mixin ease-transition {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.centered-background {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box-shadow {
	--webkit-box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
	-moz-box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
	box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
}

//== Global

body {
  margin-top: 10px;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-white;
  color: $color-black;
}

// h6 {
//   font-family: $headline-font;
//   text-transform: uppercase;
//   font-weight: 700;
//   color: $color-white;
//   display: inline;
//   background-color: $color-black;
//   padding: 4px 10px;
// }

// h1 {
//   font-family: $headline-font;
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 34px;
// }

// .app-headline {
//   font-size: 34px;

// }

// hr {
//   clear:both;
//   display:block;
//   width: 100%;
//   // border: 1px solid black;
//   border-top: 4px solid $color-black;
// }

p, em {
  font-size: 15px;
}


// a.c-inline-editor {
//   // font-family: $headline-font;
//   // text-transform: uppercase;
//   // font-weight: 700;
//   color: $color-black;
//   border-bottom: dashed 1px #428bca;
//   cursor: pointer;
//   line-height: 1.6;
//   // background: #f1f1f1;
//   // font-size: 15px;
// }


// .c-inline-editor.editable-empty,
// .c-inline-editor.editable-empty:hover,
// .c-inline-editor.editable-empty:focus,
// .c-inline-editor.a.editable-empty,
// .c-inline-editor.a.editable-empty:hover,
// .c-inline-editor.a.editable-empty:focus {
//   font-style: italic;
//   color: #DD1144;
//   text-decoration: none;
// }

// .c-inline-editor.inlineEditForm {
//   display: inline-block;
//   white-space: nowrap;
//   margin: 0;
// }

// #inlineEditWrapper {
//   display: inline-block;
// }

// .c-inline-editor.inlineEditForm input,
// .c-inline-editor.select {
//   width: auto;
//   display: inline;
// }

// .c-inline-editor.inline-editor-button-group {
//   display: inline-block;
// }

// .c-inline-editor.editInvalid {
//   color: #a94442;
//   margin-bottom: 0;
// }

// .c-inline-editor.error {
//   border-color: #a94442;
// }

// [hidden].c-inline-editor {
//   display: none;
// }

// .form-inline .form-control {
//     display: inline-block;
//     width: 500px;
//     vertical-align: middle;
// }



a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

// == Since I can't get bootstraps bg-secondary to work:

.bg-secondary {
  background: #eceeef;
}



.display-4 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

h6 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.btn {

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;
  font-size: 0.8rem;
}







//== Editable Content (inline-editor)

a.c-inline-editor {
  text-decoration: none;
  color: #428bca;
  border-bottom: dashed 1px #428bca;
  cursor: pointer;
  line-height: 1.6;
  background: #f1f1f1;
}


.c-inline-editor.editable-empty,
.c-inline-editor.editable-empty:hover,
.c-inline-editor.editable-empty:focus,
.c-inline-editor.a.editable-empty,
.c-inline-editor.a.editable-empty:hover,
.c-inline-editor.a.editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  text-decoration: none;
}

.c-inline-editor.inlineEditForm {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
}

#inlineEditWrapper {
  display: inline-block;
}

.c-inline-editor.inlineEditForm input,
.c-inline-editor.select {
  width: auto;
  display: inline;
}

.c-inline-editor.inline-editor-button-group {
  display: inline-block;
}

.c-inline-editor.editInvalid {
  color: #a94442;
  margin-bottom: 0;
}

.c-inline-editor.error {
  border-color: #a94442;
}

[hidden].c-inline-editor {
  display: none;
}

.form-inline .form-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

/* HR */
hr {
  clear:both;
  display:block;
  width: 100%;
  // border: 1px solid black;
  border-top: 4px solid $color-black;
}
