$default-font: 'Open Sans',
sans-serif;
$headline-font: 'Source Sans Pro',
sans-serif;

//==  Colors
$black: #000000;
$dark-grey: #606060;
$mid-grey: #E6E4E4;
$soft-grey: #95989A;
$light-grey: #EBE9EB;
$red: #E33D3D;
$blue: #63C8DD;
$beige: #EEEFE1;
$cloud: #EDEBEB;
$white: #FAFAFA;


.btn-primary {
  background: $blue;
  border: none;
}


.btn-secondary {
  background: $dark-grey;
  color: $white;
  border: none;
}

.btn-danger {
  background: $red;
  border: none;
}

.bg-secondary {
  background: $light-grey;
}

// //== Mixins
@mixin ease-transition() {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $default-font;
  background: $white;
  color: $dark-grey;
  margin: 0;
}

a,
img,
.sub-linker,
.title-p {
  border: 0;
  outline: none;
}


h1,
.display-4,
h6 {
  outline: none;
  color: $black;
  font-size: 30px;
  font-family: $headline-font;
  text-transform: uppercase;
}

h4 {
  outline: none;
  color: $black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

h6 {
  font-size: 21px;
}

p {
  font-size: 14px;
  line-height: 22px;
}

.title-p {
  font-size: 15px;
  line-height: 24px;
}

a {
  color: $dark-grey;
}

.line-break {
  width: 100%;
  height: 2px;
  background: $black;
}

.stars {
  font-style: normal;
  color: $black;
  font-size: 13px;
  margin-left: 2px;
}

.search {
  width: 100%;
}

.headliner {
  font-size: 19px;
}

.underliner {
  border-bottom: 2px solid $black;
  padding-bottom: 6px;
  display: inline-block;
}

.underliner-colored {
  border-bottom: 2px solid $blue;
  padding-bottom: 6px;
  display: inline-block;
}

.fat-title {
  outline: none;
  color: $black;
  font-size: 20px;
  font-family: $headline-font;
  text-transform: uppercase;
  padding: 4px;

  span {
    background: $white; // margin-top: -40px;
    padding: 0 6px;
    font-size: 16px;
  }
}

.sub-linker,
.title-p,
.clickable {
  cursor: pointer;
}

.sub-linker:hover {
  text-decoration: underline;
}

.table-bordered td,
.table-bordered th {
  border: 2px solid $soft-grey;
  font-size: 12px;
  text-transform: uppercase;
}

.add-content-form {
  padding: 0.5em;
  padding: 4em 1em;
}

.crop-circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: 80px 80px;

    .image {
      background-size: 80px 80px;
    }
}

.circular-portrait {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-portrait img {
  width: 100%;
  height: auto;
}




// //==  Fonts
// // $fancy-font: 'Raleway', sans-serif;
// $headline-font: 'Cabin', sans-serif;
// $default-font: 'Source Sans Pro', sans-serif;
// .centered-background {
//   background-position: center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// .box-shadow {
//  --webkit-box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
//  -moz-box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
//  box-shadow: 4px 0px 20px -7px rgba(115,15,15,1);
// }
// //== Global
// body {
//   margin-top: 10px;
//   font-family: $default-font;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   background: $color-white;
//   color: $color-black;
// }
// // h6 {
// //   font-family: $headline-font;
// //   text-transform: uppercase;
// //   font-weight: 700;
// //   color: $color-white;
// //   display: inline;
// //   background-color: $color-black;
// //   padding: 4px 10px;
// // }
// // h1 {
// //   font-family: $headline-font;
// //   text-transform: uppercase;
// //   font-weight: 700;
// //   font-size: 34px;
// // }
// // .app-headline {
// //   font-size: 34px;
// // }
// // hr {
// //   clear:both;
// //   display:block;
// //   width: 100%;
// //   // border: 1px solid black;
// //   border-top: 4px solid $color-black;
// // }
// p, em {
//   font-size: 15px;
// }
// // a.c-inline-editor {
// //   // font-family: $headline-font;
// //   // text-transform: uppercase;
// //   // font-weight: 700;
// //   color: $color-black;
// //   border-bottom: dashed 1px #428bca;
// //   cursor: pointer;
// //   line-height: 1.6;
// //   // background: #f1f1f1;
// //   // font-size: 15px;
// // }
// // .c-inline-editor.editable-empty,
// // .c-inline-editor.editable-empty:hover,
// // .c-inline-editor.editable-empty:focus,
// // .c-inline-editor.a.editable-empty,
// // .c-inline-editor.a.editable-empty:hover,
// // .c-inline-editor.a.editable-empty:focus {
// //   font-style: italic;
// //   color: #DD1144;
// //   text-decoration: none;
// // }
// // .c-inline-editor.inlineEditForm {
// //   display: inline-block;
// //   white-space: nowrap;
// //   margin: 0;
// // }
// // #inlineEditWrapper {
// //   display: inline-block;
// // }
// // .c-inline-editor.inlineEditForm input,
// // .c-inline-editor.select {
// //   width: auto;
// //   display: inline;
// // }
// // .c-inline-editor.inline-editor-button-group {
// //   display: inline-block;
// // }
// // .c-inline-editor.editInvalid {
// //   color: #a94442;
// //   margin-bottom: 0;
// // }
// // .c-inline-editor.error {
// //   border-color: #a94442;
// // }
// // [hidden].c-inline-editor {
// //   display: none;
// // }
// // .form-inline .form-control {
// //     display: inline-block;
// //     width: 500px;
// //     vertical-align: middle;
// // }
// a {
//   cursor: pointer;
// }
// button {
//   cursor: pointer;
// }
// .clickable {
//   cursor: pointer;
// }
// // == Since I can't get bootstraps bg-secondary to work:
// .bg-secondary {
//   background: #eceeef;
// }
// .display-4 {
//     font-size: 3.5rem;
//     font-weight: 700;
//     line-height: 1.1;
//     text-transform: uppercase;
// }
// h6 {
//   font-size: 1.1rem;
//   font-weight: 700;
//   line-height: 1.1;
//   text-transform: uppercase;
// }
// .btn {
//   font-weight: 700;
//   text-transform: uppercase;
//   line-height: 1.25;
//   font-size: 0.8rem;
// }
// //== Editable Content (inline-editor)
// a.c-inline-editor {
//   text-decoration: none;
//   color: #428bca;
//   border-bottom: dashed 1px #428bca;
//   cursor: pointer;
//   line-height: 1.6;
//   background: #f1f1f1;
// }
// .c-inline-editor.editable-empty,
// .c-inline-editor.editable-empty:hover,
// .c-inline-editor.editable-empty:focus,
// .c-inline-editor.a.editable-empty,
// .c-inline-editor.a.editable-empty:hover,
// .c-inline-editor.a.editable-empty:focus {
//   font-style: italic;
//   color: #DD1144;
//   text-decoration: none;
// }
// .c-inline-editor.inlineEditForm {
//   display: inline-block;
//   white-space: nowrap;
//   margin: 0;
// }
// #inlineEditWrapper {
//   display: inline-block;
// }
// .c-inline-editor.inlineEditForm input,
// .c-inline-editor.select {
//   width: auto;
//   display: inline;
// }
// .c-inline-editor.inline-editor-button-group {
//   display: inline-block;
// }
// .c-inline-editor.editInvalid {
//   color: #a94442;
//   margin-bottom: 0;
// }
// .c-inline-editor.error {
//   border-color: #a94442;
// }
// [hidden].c-inline-editor {
//   display: none;
// }
// .form-inline .form-control {
//     display: inline-block;
//     width: 500px;
//     vertical-align: middle;
// }
// /* HR */
// hr {
//   clear:both;
//   display:block;
//   width: 100%;
//   border-top: 4px solid $color-black;
// }
